<div class="jumbotron">
  <h1>Buy and sell items here!</h1>
  <h2>Find new and exciting products everyday...</h2>
</div>

<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(listing.image.url), listing %>
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p><%= number_to_currency(listing.price) %></p>
            <p><b>Seller:</b> <i><%= "#{listing.user.first_name.capitalize} #{listing.user.last_name.capitalize[0]}." %></i></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>
<br><br>

<p>(this site is for example purposes only; items listed are not actually for sale)</p>
<br>